.board {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px 20px;
    border-bottom: 2px solid #885900;
  }

  &__logo {
    height: 35px;
  }

  &__subtitle {
    margin-top: 8px;
    margin-left: 2px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__playground {
    position: relative;
    flex-grow: 1;
    padding: 10px;
  }

  &__playground-item {
    position: absolute;
    width: 65px;
    height: 65px;
    font-size: 60px;
    transition: all 0.3s ease;

    &--hidden {
      transform: scale(0);
    }

    @for $row from 1 through 5 {
      &--row-#{$row} {
        top: ($row - 1) * 100px + 35px;
      }
    }

    @for $col from 1 through 5 {
      &--col-#{$col} {
        left: ($col - 1) * 110px + 25px;
      }
    }
  }
}
